@import "assets/styles/_variables";
@import "assets/styles/header";
@import "assets/styles/footer";
@import "assets/styles/about";
@import "assets/styles/collection";
@import "assets/styles/item";
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/************
HTML & BODY
************/

// 16px is the typical default browser font-size.
// Setting the font-size to 62.5% means setting it to 10px.
// So 1rem = 10px.
html {
  margin: 0 auto;
  font-size: 62.5%;

  body {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: $white;

    header {
      @include header-content
    }

    main {
      width: 90%;
      margin: 0 auto;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.4rem;

      @media only screen and (max-width: 650px) {
        position: relative;
        top: 75px;
      }
    }

    footer {
      @include footer-content
    }
  }
}

/************
PAGES
************/


.home-page {
  display: flex;
  justify-content: center;
  margin: 20px auto 40px;
  
  @media only screen and (max-width: 800px) {
    img {
      width: 80vw;
    }
  }
}

// .lunar-calendars-page {
//   @include collection-content
// }

.prints-page {
  @include collection-content
}

.postcards-page {
  @include collection-content
}

.about-page {
  @include about-content
}

.item-page {
  @include item-page-content
}