/************************************
COLOR VARIABLES
************************************/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@media only screen and (max-width: 700px) and (max-width: 700px) {
  .huetown-h-logo,
.self-portrait {
    width: 11vw;
    height: 11vw;
  }
}
@media only screen and (max-width: 650px) {
  .about-top {
    display: block !important;
  }
  .about-top div {
    margin: 0 !important;
    bottom: 5px;
  }
  .about-top .huetown-h-logo.self-portrait,
.about-top .self-portrait.self-portrait {
    min-width: 75px;
    min-height: 75px;
    margin: 0 10px 10px 0;
    float: left;
  }
  .about-top .huetown-h-logo.huetown-h-logo,
.about-top .self-portrait.huetown-h-logo {
    display: none;
  }
}
/************
HTML & BODY
************/
html {
  margin: 0 auto;
  font-size: 62.5%;
}
html body {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}
html body header {
  margin: 0.5rem 2rem;
}
@media only screen and (max-width: 650px) {
  html body header {
    width: 100%;
    position: fixed;
    margin: 0;
    z-index: 100;
  }
}
html body header .nav-top {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 650px) {
  html body header .nav-top {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px 12px 14px 18px;
    background: #404040;
  }
}
@media only screen and (max-width: 450px) {
  html body header .nav-top {
    align-items: flex-start;
    padding: 14px;
  }
}
html body header a .huetown-logo-gray {
  display: block;
  width: 300px;
}
@media only screen and (max-width: 650px) {
  html body header a .huetown-logo-gray {
    display: none;
  }
}
html body header a .huetown-logo-white {
  display: none;
}
@media only screen and (max-width: 650px) {
  html body header a .huetown-logo-white {
    display: block;
    width: 232px;
  }
}
@media only screen and (max-width: 450px) {
  html body header a .huetown-logo-white {
    width: 175px;
  }
}
@media only screen and (max-width: 250px) {
  html body header a .huetown-logo-white {
    width: 80%;
  }
}
html body header button.burger-button {
  display: none;
  position: relative;
  cursor: pointer;
  padding: 5px;
  border: none;
  background-color: transparent;
}
html body header button.burger-button.closing-x {
  padding: 5px 2px;
}
html body header button.burger-button div.burger-bars-container {
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html body header button.burger-button div.burger-bars-container div.bar {
  position: relative;
  width: 25px;
  height: 4px;
  background: #fff;
  transition: transform 0.125s;
}
html body header button.burger-button div.burger-bars-container div.bar.closing-x {
  width: 30px;
}
html body header button.burger-button div.burger-bars-container div.bar.closing-x.bar-one {
  top: 9px;
  transform: rotate(45deg);
}
html body header button.burger-button div.burger-bars-container div.bar.closing-x.bar-two {
  display: none;
}
html body header button.burger-button div.burger-bars-container div.bar.closing-x.bar-three {
  bottom: 12px;
  transform: rotate(-45deg);
}
@media only screen and (max-width: 650px) {
  html body header button.burger-button {
    display: block;
  }
}
html body header nav {
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
}
html body header nav a.nav-element {
  padding: 0;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.3125rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s linear;
  color: #333;
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  html body header nav a.nav-element {
    letter-spacing: 0.3vw;
  }
}
@media only screen and (max-width: 650px) {
  html body header nav a.nav-element {
    letter-spacing: 0.3125rem;
  }
}
@media only screen and (min-width: 651px) {
  html body header nav a.nav-element::after {
    width: 100%;
    display: block;
    position: relative;
    top: 0.5rem;
    border-bottom: 3px solid transparent;
    content: "";
    transition: 0.5s;
  }
  html body header nav a.nav-element:hover::after {
    top: 0.25rem;
    border-bottom: 3px solid #6abbb6;
  }
}
@media only screen and (max-width: 650px) {
  html body header nav a.nav-element {
    width: 100%;
    padding: 1.5rem 0;
    border-bottom: 1.5px solid #7f7f7f;
    font-size: 1.8rem;
    font-weight: 500;
  }
}
html body header nav form {
  padding: 0;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.3125rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s linear;
  color: #333;
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  html body header nav form {
    letter-spacing: 0.3vw;
  }
}
@media only screen and (max-width: 650px) {
  html body header nav form {
    letter-spacing: 0.3125rem;
  }
}
@media only screen and (min-width: 651px) {
  html body header nav form::after {
    width: 100%;
    display: block;
    position: relative;
    top: 0.5rem;
    border-bottom: 3px solid transparent;
    content: "";
    transition: 0.5s;
  }
  html body header nav form:hover::after {
    top: 0.25rem;
    border-bottom: 3px solid #6abbb6;
  }
}
html body header nav form input[value="view cart"] {
  background-color: transparent;
  padding: 0;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.3125rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s linear;
  color: #333;
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  html body header nav form input[value="view cart"] {
    letter-spacing: 0.3vw;
  }
}
@media only screen and (max-width: 650px) {
  html body header nav form input[value="view cart"] {
    letter-spacing: 0.3125rem;
  }
}
@media only screen and (min-width: 651px) {
  html body header nav form input[value="view cart"]::after {
    width: 100%;
    display: block;
    position: relative;
    top: 0.5rem;
    border-bottom: 3px solid transparent;
    content: "";
    transition: 0.5s;
  }
  html body header nav form input[value="view cart"]:hover::after {
    top: 0.25rem;
    border-bottom: 3px solid #6abbb6;
  }
}
@media only screen and (max-width: 650px) {
  html body header nav form input[value="view cart"] {
    width: 100%;
    padding: 1.5rem 0;
    border-bottom: 1.5px solid #7f7f7f;
    font-size: 1.8rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 650px) {
  html body header nav {
    display: none;
    flex-direction: column;
  }
  html body header nav.open-drawer {
    display: flex;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
  }
}
html body header .nav-menu-icons {
  display: none;
  justify-content: center;
  border-bottom: 1.5px solid #7f7f7f;
}
html body header .nav-menu-icons section {
  margin: 1rem 2rem;
}
html body header .nav-menu-icons section a {
  width: 32px;
  height: 32px;
  display: block;
}
html body header .nav-menu-icons section a img {
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
}
@media only screen and (max-width: 650px) {
  html body header .nav-menu-icons {
    display: flex;
  }
}
html body main {
  position: relative;
  width: 90%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}
html body main .text-link {
  text-decoration: none;
}
html body main .text-link:link, html body main .text-link:visited, html body main .text-link:hover, html body main .text-link:active {
  color: #f27089;
}
html body main .ital {
  font-style: italic;
}
html body main .bold {
  font-weight: 600;
}
@media only screen and (max-width: 650px) {
  html body main {
    top: 85px;
  }
}
@media only screen and (max-width: 450px) {
  html body main {
    top: 75px;
  }
}
html body footer {
  width: 90%;
  display: flex;
  justify-content: center;
  border-top: 2px solid #7f7f7f;
  margin: 1rem auto;
}
html body footer section {
  margin: 2rem 4rem;
}
html body footer section a {
  width: 4rem;
  height: 4rem;
  display: block;
}
html body footer section a img {
  width: 4rem;
  height: 4rem;
  display: block;
  position: relative;
  z-index: 10;
}
html body footer section a:hover div {
  background: #edde95;
  transition: all 0.3s linear;
}
html body footer section a div {
  width: 93%;
  height: 93%;
  position: relative;
  bottom: calc(4rem - 3.5%);
  left: 3.5%;
  border-radius: 1rem;
  background: transparent;
}
html body footer section:nth-of-type(2) div {
  border-radius: 50%;
}
html body footer section:nth-of-type(3) div {
  border-radius: 0.5rem;
}
@media only screen and (max-width: 650px) {
  html body footer section {
    margin: 1rem 2rem;
  }
}
@media only screen and (max-width: 650px) {
  html body footer {
    position: relative;
    top: 75px;
  }
}

/************
PAGES
************/
.home-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
.home-page .unbound-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
.home-page .unbound-top img {
  max-height: 56vw;
}
.home-page .unbound-announcement {
  margin-left: 1rem;
}
@media only screen and (max-width: 500px) {
  .home-page .unbound-top {
    flex-direction: column;
    justify-content: center;
  }
  .home-page .unbound-announcement {
    margin-left: unset;
    margin-top: 1rem;
  }
}

.lunar-calendars-page {
  max-width: 735px;
  margin: 0 auto;
}
.lunar-calendars-page .content-container {
  display: flex;
  justify-content: space-around;
}
.lunar-calendars-page .content-container.lunar-calendar {
  justify-content: space-between;
}
.lunar-calendars-page .content-block {
  text-align: center;
}
.lunar-calendars-page .content-block a {
  display: block;
}
.lunar-calendars-page .content-block a.lunar-calendars {
  width: 350px;
  height: 216px;
}
.lunar-calendars-page .content-block a.lunar-calendars img {
  max-width: 350px;
  max-height: 216px;
}
.lunar-calendars-page .content-block a.prints {
  width: 320px;
  height: 320px;
  margin: 0 10px;
}
.lunar-calendars-page .content-block a.prints img {
  max-width: 320px;
  max-height: 320px;
}
.lunar-calendars-page .content-block .content-item-name {
  margin: 5px 0 10px;
}
.lunar-calendars-page .content-block a.postcards {
  width: 300px;
  height: 200px;
}
.lunar-calendars-page .content-block a.postcards img {
  max-width: 300px;
  max-height: 200px;
  border: 1px solid #333;
}
@media only screen and (max-width: 810px) {
  .lunar-calendars-page .content-container.lunar-calendar {
    flex-direction: column;
    align-items: center;
  }
  .lunar-calendars-page .content-block a.lunar-calendars {
    width: 90vw;
    height: 56vw;
  }
  .lunar-calendars-page .content-block a.lunar-calendars img {
    max-width: 90vw;
    max-height: 56vw;
  }
}
@media only screen and (max-width: 700px) {
  .lunar-calendars-page .content-container {
    flex-direction: column;
    align-items: center;
  }
  .lunar-calendars-page .content-block a.lunar-calendars {
    width: 80vw;
    height: 49vw;
  }
  .lunar-calendars-page .content-block a.lunar-calendars img {
    max-width: 80vw;
    max-height: 49vw;
  }
  .lunar-calendars-page .content-block a.postcards {
    width: 390px;
    height: 230px;
  }
  .lunar-calendars-page .content-block a.postcards img {
    max-width: 390px;
    max-height: 230px;
  }
}
@media only screen and (max-width: 400px) {
  .lunar-calendars-page .content-block a.prints {
    width: 85vw;
    height: 85vw;
  }
  .lunar-calendars-page .content-block a.prints img {
    max-width: unset;
    max-height: unset;
    width: 85vw;
    height: 85vw;
  }
  .lunar-calendars-page .content-block a.postcards {
    width: 90vw;
    height: 60vw;
  }
  .lunar-calendars-page .content-block a.postcards img {
    max-width: unset;
    max-height: unset;
    width: 90vw;
    height: 60vw;
  }
  .lunar-calendars-page .content-block a.lunar-calendars {
    width: 90vw;
    height: 56vw;
  }
  .lunar-calendars-page .content-block a.lunar-calendars img {
    max-width: unset;
    max-height: unset;
    width: 90vw;
    height: 56vw;
  }
}

.prints-page {
  max-width: 735px;
  margin: 0 auto;
}
.prints-page .content-container {
  display: flex;
  justify-content: space-around;
}
.prints-page .content-container.lunar-calendar {
  justify-content: space-between;
}
.prints-page .content-block {
  text-align: center;
}
.prints-page .content-block a {
  display: block;
}
.prints-page .content-block a.lunar-calendars {
  width: 350px;
  height: 216px;
}
.prints-page .content-block a.lunar-calendars img {
  max-width: 350px;
  max-height: 216px;
}
.prints-page .content-block a.prints {
  width: 320px;
  height: 320px;
  margin: 0 10px;
}
.prints-page .content-block a.prints img {
  max-width: 320px;
  max-height: 320px;
}
.prints-page .content-block .content-item-name {
  margin: 5px 0 10px;
}
.prints-page .content-block a.postcards {
  width: 300px;
  height: 200px;
}
.prints-page .content-block a.postcards img {
  max-width: 300px;
  max-height: 200px;
  border: 1px solid #333;
}
@media only screen and (max-width: 810px) {
  .prints-page .content-container.lunar-calendar {
    flex-direction: column;
    align-items: center;
  }
  .prints-page .content-block a.lunar-calendars {
    width: 90vw;
    height: 56vw;
  }
  .prints-page .content-block a.lunar-calendars img {
    max-width: 90vw;
    max-height: 56vw;
  }
}
@media only screen and (max-width: 700px) {
  .prints-page .content-container {
    flex-direction: column;
    align-items: center;
  }
  .prints-page .content-block a.lunar-calendars {
    width: 80vw;
    height: 49vw;
  }
  .prints-page .content-block a.lunar-calendars img {
    max-width: 80vw;
    max-height: 49vw;
  }
  .prints-page .content-block a.postcards {
    width: 390px;
    height: 230px;
  }
  .prints-page .content-block a.postcards img {
    max-width: 390px;
    max-height: 230px;
  }
}
@media only screen and (max-width: 400px) {
  .prints-page .content-block a.prints {
    width: 85vw;
    height: 85vw;
  }
  .prints-page .content-block a.prints img {
    max-width: unset;
    max-height: unset;
    width: 85vw;
    height: 85vw;
  }
  .prints-page .content-block a.postcards {
    width: 90vw;
    height: 60vw;
  }
  .prints-page .content-block a.postcards img {
    max-width: unset;
    max-height: unset;
    width: 90vw;
    height: 60vw;
  }
  .prints-page .content-block a.lunar-calendars {
    width: 90vw;
    height: 56vw;
  }
  .prints-page .content-block a.lunar-calendars img {
    max-width: unset;
    max-height: unset;
    width: 90vw;
    height: 56vw;
  }
}

.postcards-page {
  max-width: 735px;
  margin: 0 auto;
}
.postcards-page .content-container {
  display: flex;
  justify-content: space-around;
}
.postcards-page .content-container.lunar-calendar {
  justify-content: space-between;
}
.postcards-page .content-block {
  text-align: center;
}
.postcards-page .content-block a {
  display: block;
}
.postcards-page .content-block a.lunar-calendars {
  width: 350px;
  height: 216px;
}
.postcards-page .content-block a.lunar-calendars img {
  max-width: 350px;
  max-height: 216px;
}
.postcards-page .content-block a.prints {
  width: 320px;
  height: 320px;
  margin: 0 10px;
}
.postcards-page .content-block a.prints img {
  max-width: 320px;
  max-height: 320px;
}
.postcards-page .content-block .content-item-name {
  margin: 5px 0 10px;
}
.postcards-page .content-block a.postcards {
  width: 300px;
  height: 200px;
}
.postcards-page .content-block a.postcards img {
  max-width: 300px;
  max-height: 200px;
  border: 1px solid #333;
}
@media only screen and (max-width: 810px) {
  .postcards-page .content-container.lunar-calendar {
    flex-direction: column;
    align-items: center;
  }
  .postcards-page .content-block a.lunar-calendars {
    width: 90vw;
    height: 56vw;
  }
  .postcards-page .content-block a.lunar-calendars img {
    max-width: 90vw;
    max-height: 56vw;
  }
}
@media only screen and (max-width: 700px) {
  .postcards-page .content-container {
    flex-direction: column;
    align-items: center;
  }
  .postcards-page .content-block a.lunar-calendars {
    width: 80vw;
    height: 49vw;
  }
  .postcards-page .content-block a.lunar-calendars img {
    max-width: 80vw;
    max-height: 49vw;
  }
  .postcards-page .content-block a.postcards {
    width: 390px;
    height: 230px;
  }
  .postcards-page .content-block a.postcards img {
    max-width: 390px;
    max-height: 230px;
  }
}
@media only screen and (max-width: 400px) {
  .postcards-page .content-block a.prints {
    width: 85vw;
    height: 85vw;
  }
  .postcards-page .content-block a.prints img {
    max-width: unset;
    max-height: unset;
    width: 85vw;
    height: 85vw;
  }
  .postcards-page .content-block a.postcards {
    width: 90vw;
    height: 60vw;
  }
  .postcards-page .content-block a.postcards img {
    max-width: unset;
    max-height: unset;
    width: 90vw;
    height: 60vw;
  }
  .postcards-page .content-block a.lunar-calendars {
    width: 90vw;
    height: 56vw;
  }
  .postcards-page .content-block a.lunar-calendars img {
    max-width: unset;
    max-height: unset;
    width: 90vw;
    height: 56vw;
  }
}

.about-page .about-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.about-page .about-top div {
  margin: 0 25px;
  position: relative;
}
.about-page .about-top div span.bold {
  font-weight: 600;
}
.about-page .about-states {
  text-transform: uppercase;
}
.about-page .section-title {
  font-weight: 600;
  text-transform: uppercase;
}
.about-page .subscribe-button {
  border: none;
  border-radius: 6px;
  color: #fff;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  cursor: pointer;
  width: 16rem;
  min-height: 4rem;
  background: #666 !important;
  font-family: "Raleway", sans-serif !important;
  font-size: 1.4rem;
  font-weight: 600 !important;
}
.about-page .subscribe-button:hover {
  background: #ff9600 !important;
}

.item-page {
  margin-bottom: 20px;
}
.item-page .content-container {
  display: flex;
}
@media only screen and (max-width: 1050px) {
  .item-page .content-container.lunar-calendar {
    flex-direction: column;
    align-items: center;
  }
}
.item-page .content-container.lunar-calendar .feature-image {
  width: 700px;
  height: auto;
}
@media only screen and (max-width: 750px) {
  .item-page .content-container.lunar-calendar .feature-image {
    width: 90vw;
    height: auto;
  }
}
.item-page .content-container.print {
  justify-content: center;
}
@media only screen and (max-width: 850px) {
  .item-page .content-container {
    flex-direction: column;
    align-items: center;
  }
}
.item-page .container-two {
  display: none;
  border-top: 1px solid #333;
  margin-top: 20px;
}
.item-page .container-two.shown {
  display: block;
}
.item-page .container-two .photo-pair {
  display: flex;
  justify-content: center;
}
.item-page .container-two .photo-pair img {
  margin: 10px 5px 0;
  width: 450px;
  height: 450px;
}
@media only screen and (max-width: 1050px) {
  .item-page .container-two .photo-pair img {
    width: 700px;
    height: 700px;
  }
}
@media only screen and (max-width: 760px) {
  .item-page .container-two .photo-pair img {
    width: 90vw;
    height: 90vw;
  }
}
@media only screen and (max-width: 1050px) {
  .item-page .container-two .photo-pair {
    flex-direction: column;
    align-items: center;
  }
}
.item-page .container-two .item-more-info {
  padding-top: 15px;
}
.item-page .container-two .item-more-info .info-block:not(:first-of-type) {
  margin: 15px auto 0;
}
.item-page .container-two .item-more-info .lunar-phases {
  display: flex;
  justify-content: center;
  width: 250px;
  margin: 25px auto;
}
.item-page .container-two .item-more-info .phase-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}
.item-page .container-two .item-more-info .phase-text {
  font-size: 1.2rem;
  text-align: center;
}
.item-page .container-two .item-more-info .protective-tube {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto 35px;
}
.item-page .container-two .item-more-info .protective-tube .tube-text {
  margin-bottom: 5px;
}
@media only screen and (max-width: 500px) {
  .item-page .container-two .item-more-info .protective-tube img {
    width: 220px;
    height: auto;
  }
}
.item-page .container-three {
  display: none;
}
.item-page .container-three a.current-calendar {
  max-width: 200px;
}
.item-page .container-three a.current-calendar img {
  max-width: 200px;
}
.item-page .container-three.shown {
  display: block;
}
.item-page .container-three .current,
.item-page .container-three .previous {
  margin: 0 auto;
}
.item-page .container-three .current.previous,
.item-page .container-three .previous.previous {
  margin-top: 10px;
}
.item-page .container-three .current div,
.item-page .container-three .previous div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.item-page .container-three .current div.title,
.item-page .container-three .previous div.title {
  margin: 0 auto 10px;
  text-transform: uppercase;
  color: #7f7f7f;
  font-weight: 700;
}
.item-page .container-three .current div.lunar-calendar-links div,
.item-page .container-three .previous div.lunar-calendar-links div {
  flex-direction: column;
  margin: 0 5px;
}
.item-page .container-three .current div.lunar-calendar-links div .text,
.item-page .container-three .previous div.lunar-calendar-links div .text {
  margin-bottom: 10px;
}
.item-page img.feature-image.postcard {
  border: 1px solid #333;
}
@media only screen and (max-width: 650px) {
  .item-page img.feature-image.postcard {
    width: 550px;
  }
}
@media only screen and (max-width: 600px) {
  .item-page img.feature-image.postcard {
    width: 90vw;
  }
}
@media only screen and (max-width: 500px) {
  .item-page img.feature-image.print {
    width: 80vw;
  }
}
.item-page .item-info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 15px;
}
@media only screen and (max-width: 1050px) {
  .item-page .item-info-block.lunar-calendar {
    max-width: 600px;
    flex-direction: column-reverse;
    padding-left: 0;
  }
}
@media only screen and (max-width: 850px) {
  .item-page .item-info-block {
    max-width: 600px;
    flex-direction: column-reverse;
    padding-left: 0;
  }
}
@media only screen and (max-width: 650px) {
  .item-page .item-info-block.postcard {
    width: 550px;
  }
}
@media only screen and (max-width: 600px) {
  .item-page .item-info-block.postcard {
    width: 90vw;
  }
}
.item-page .item-name {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 5px;
}
.item-page .item-name span.normal {
  font-weight: 400;
}
.item-page .item-subname {
  font-size: 2rem;
}
.item-page .item-info-one,
.item-page .item-info-two,
.item-page .item-info-three {
  margin: 10px 0 12px;
  font-size: 1.3rem;
}
@media only screen and (max-width: 850px) {
  .item-page .item-info-one,
.item-page .item-info-two,
.item-page .item-info-three {
    margin: 5px 0;
  }
}
@media only screen and (max-width: 850px) {
  .item-page .item-info-text {
    margin: 5px 0 0 5px;
  }
}
.item-page .payment-info {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1050px) {
  .item-page .payment-info.lunar-calendar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
  }
}
@media only screen and (max-width: 850px) {
  .item-page .payment-info {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
  }
}
.item-page .item-price-container {
  position: relative;
  margin: 10px 0;
  font-size: 2rem;
  font-weight: 600;
}
@media only screen and (max-width: 1050px) {
  .item-page .item-price-container.lunar-calendar {
    margin: 0 10px 0 0;
    top: 6px;
  }
}
@media only screen and (max-width: 850px) {
  .item-page .item-price-container {
    margin: 0 10px 0 0;
    top: 6px;
  }
}
.item-page .qty-label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}
.item-page .qty-label span {
  position: relative;
  left: 8px;
}
.item-page form input[name=quantity] {
  width: 4rem;
  height: 3.8rem;
  padding: 0;
  border: 0.1rem solid #7f7f7f;
  margin: 0 5px 5px 0;
  font-size: 1.25rem;
  text-align: center;
}
.item-page form input[value="add to cart"] {
  border: none;
  border-radius: 6px;
  background: #666;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  cursor: pointer;
  width: 16rem;
  min-height: 4rem;
}
.item-page form input[value="add to cart"]:hover {
  background: #ff9600;
}

.veganly-page {
  margin: 60px 40px;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
