@import "assets/styles/_variables";
@import "assets/styles/about-content";
@import "assets/styles/postcards-content";
@import url('https://fonts.googleapis.com/css?family=Varela+Round|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Noto+Sans:400,400i,700,700i|Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/************
HTML & BODY
************/

// 16px is the typical default browser font-size.
// Setting the font-size to 62.5% means setting it to 10px.
// So 1rem = 10px.
html {
  font-size: 62.5%;
  margin: 0 auto;
}

body {
  background: $white;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

/************
HEADER
************/

header {
  margin: 0.5rem auto;
}

img[alt="Huetown Script Logo"] {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 40rem;
}

nav {
  display: flex;
  justify-content: space-around; // This might need to be changed
  margin: 2rem auto;

  a {
    color: $very-dark-gray;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.3125rem;
    // margin: 0 1.25rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s linear;

    &:hover {
      color: $huetown-red;
    }

    &::after {
      border-bottom: 3px solid $white;
      content: "";
      display: block;
      position: relative;
      top: 0.5rem;
      transition: 0.5s;
      width: 100%;
    }

    &:hover::after {
      border-bottom: 3px solid $huetown-green;
      top: 0.25rem;
    }
  }

  .cart-icon {
    // margin: 0 1.25rem;
    position: relative;
    top: 0.125rem;
    max-height: 1.6rem;
  }
}

/************
MAIN
************/

main {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  width: 90%;
}

/************
PAGES
************/

.about-page {
  @include about-content
}

.postcards-page {
  @include postcards-content
}

/************
FOOTER
************/

footer {
  border-top: 2px solid $fifty-percent-gray;
  display: flex;
  justify-content: center;
  width: 90%;

  @mixin icon-dimensions {
    height: 4rem;
    width: 4rem;
  }

  section {

    margin: 2rem;

    a {
      display: block;
      position: relative;
      z-index: 10;
      
      img {
        @include icon-dimensions;
        
        display: block;
      }
    } 

    [class^="icon-bg"] {
      @include icon-dimensions;

      background: $huetown-yellow;
      border-radius: 1rem;
      position: relative;
      bottom: 4rem;
      min-width: 4rem; // Needed to keep div as square at narrow viewport widths.
      visibility: hidden;
    }

    // The second sections's background div, which is a circle:
    &:nth-of-type(2) div {
      border-radius: 50%;
    }
  }
}

/************************************
BREAKPOINT 500px
************************************/

@media only screen and (max-width: 500px) {
  img[alt="Huetown Script Logo"] {
    width: 80%;
  }
}
