@mixin item-page-content {
  .row {
    display: flex;

    .col {

      form {
        [name="quantity"] {
          border: 2px solid $fifty-percent-gray;
          font-size: 1.25rem;
          height: 3.8rem;
          padding: 0;
          text-align: center;
          width: 4rem;
        }

        [value="add to cart"] {
          background: $sixty-percent-gray;
          border: none;
          border-radius: 1rem;
          color: $white;
          cursor: pointer;
          font-family: 'Raleway', sans-serif;
          font-size: 1.4rem;
          letter-spacing: 0.3125rem;
          min-height: 4rem;
          text-transform: uppercase;
          width: 14.6rem;

          &:hover {
            background: $huetown-green;
          }
        }
      }
    }
  }
}