// Sub-mixins need to be outside the primary mixin
@mixin button-styles {
  border: none;
  border-radius: 1rem;
  background: $sixty-percent-gray;
  color: $white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  cursor: pointer;
}

// This is the selector for item-page
@mixin item-page-content {
  margin-bottom: 20px;

  .content-container {
    display: flex;

    @media only screen and (max-width: 850px) {
      flex-direction: column;
      align-items: center;
    }
  }

  img.item-image-front {

    border: 1px solid $eighty-percent-gray;

    @media only screen and (max-width: 650px) {
      width: 550px;
    }

    @media only screen and (max-width: 600px) {
      width: 90vw;
    }
  }

  .item-info-block {
    display: flex;
    flex-direction: column;
    padding-left: 15px;

    @media only screen and (max-width: 850px) {
      max-width: 600px;
      flex-direction: column-reverse;
      padding-left: 0;
      // flex-direction: column; // OPTIONAL SETTING
    }

    @media only screen and (max-width: 650px) {
      width: 550px;
    }

    @media only screen and (max-width: 600px) {
      width: 90vw;
    }
  }

  .item-name {
    font-size: 2rem;
    font-weight: 700;
    margin-right: 5px;
  }

  .item-category {
    font-size: 2rem;
  }

  .item-info-one,
  .item-info-two,
  .item-info-three {
    margin: 15px 0;
    font-size: 1.3rem;

    @media only screen and (max-width: 850px) {
      margin: 5px 0;
    }
  }

  .item-info-text {
    @media only screen and (max-width: 850px) {
      margin: 5px 0 0 5px;
    }
  }

  .payment-info {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 850px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 5px 0;
    }

    @media only screen and (max-width: 650px) {
      // justify-content: left; // OPTIONAL SETTING
    }
  }

  .item-price-container {
    position: relative;
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 600;

    @media only screen and (max-width: 850px) {
      margin: 0 10px 0 0 ;
      top: 6px;
    }
  }

  .qty-label {
    font-size: 1.2rem; 
    font-weight: 600;
    color: $eighty-percent-gray;

    span {
      position: relative;
      left: 8px;
    }
  }

  .ital {
    font-style: italic;
  }

  form {

    input[name="quantity"] {
      width: 4rem;
      height: 3.8rem;
      padding: 0;
      border: .1rem solid $fifty-percent-gray;
      margin: 0 5px 5px 0;
      font-size: 1.25rem;
      text-align: center;
    }

    input[value="add to cart"] {
      @include button-styles;

      width: 16rem;
      min-height: 4rem;
      
      &:hover {
        background: $huetown-green;
      }
    }

    // input[value="checkout"] { 
    //   @include button-styles;

    //   width: 19rem;
    //   min-height: 3rem;

    //   margin: 10px;

    //   &:hover {
    //     background: $orange-muted;
    //   }
    // }
  }
}