@mixin about-content {

  .about-top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  
    div {
      margin: 0 25px;
      position: relative;

      @media only screen and (max-width: 650px) {
        margin: 0;
        bottom: 3px;
      }

      span.bold {
        font-weight: 600;
      }
    }

    .huetown-h-logo,
    .self-portrait {
  
      @media only screen and (max-width: 700px) {
        width: 11vw;
        height: 11vw;
      }
  
      @media only screen and (max-width: 650px) {
  
        &.huetown-h-logo {
          float: left;
          margin: 0 15px 5px 0;
        }
  
        &.self-portrait {
          display: none;
        }
      }
    }

    @media only screen and (max-width: 650px) {
      display: block;
    }
  }

  .text-link {
    text-decoration: none;
  
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $orange-muted;
    }
  }

  .about-states {
    text-transform: uppercase;
  }

  .section-title {
    font-weight: 600;
    text-transform: uppercase;
  }
}