// Sub-mixins need to be outside the primary mixin
@mixin nav-text {
  padding: 0; // Overrides default value in form
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s linear;
  color: $ninety-percent-gray;
  cursor: pointer;

  // Only show the underside bar effect at larger widths
  @media only screen and (min-width: 651px) {

    &::after { // The bar underneath when it's hidden
      width: 100%;
      display: block;
      position: relative;
      top: 0.5rem;
      border-bottom: 3px solid transparent;
      content: "";
      transition: 0.5s;
    }

    &:hover::after { // The bar underneath when it's shown
      top: 0.25rem;
      border-bottom: 3px solid $huetown-green;
    }
  }
}

@mixin nav-responsive-text {

  @media only screen and (max-width: 650px) {
    width: 100%;
    padding: 1.5rem 0;
    border-bottom: 1.5px solid $fifty-percent-gray;
  }
}

/**
 * Selector for for header tag
 */

@mixin header-content {
  max-width: 1200px;
  margin: 1rem auto;

  @media only screen and (max-width: 650px) {
    width: 100%;
    position: fixed;
    margin: 0;
    z-index: 100;
  }

  .nav-top {
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 650px) {
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-end;
      padding: 10px 12px 14px 18px;
      background: $seventy-five-percent-gray;
    }

    @media only screen and (max-width: 450px) {
      align-items: flex-start;
      padding: 14px;
    }
  }

  a {

    .huetown-logo-gray {
      display: block;
      width: 300px;

      @media only screen and (max-width: 650px) {
        display: none;
      }
    }

    .huetown-logo-white {
      display: none;

      @media only screen and (max-width: 650px) {
        display: block;
        width: 232px;
      }

      @media only screen and (max-width: 450px) {
        width: 175px;
      }

      @media only screen and (max-width: 250px) {
        width: 80%;
      }
    }
  }

  button.burger-button {
    display: none;
    position: relative;
    cursor: pointer;
    padding: 5px;
    border: none;
    background-color: transparent;

    &.closing-x {
      padding: 5px 2px;
    }

    div.burger-bars-container {
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div.bar {
        position: relative;
        width: 25px;
        height: 4px;
        background: $white;
        transition: transform .125s;

        &.closing-x {
          width: 30px;

          &.bar-one {
            top: 9px;
            transform: rotate(45deg);
          }

          &.bar-two {
            display: none;
          }

          &.bar-three {
            bottom: 12px;
            transform: rotate(-45deg);
          }
        }
      }
    }

    @media only screen and (max-width: 650px) {
      display: block;
    }
  }

  nav { // nav is a row at larger widths, a column at smaller ones
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;

    // a:not(.icon) {
    a.nav-element {
      @include nav-text;
      @include nav-responsive-text;
    }

    // Both the form and the form's input are specified for the underline effect to work
    form {

      @include nav-text;

      input[value="view cart"] {
        background-color: transparent;

        @include nav-text;
        @include nav-responsive-text;
      }
    }

    @media only screen and (max-width: 650px) {
      display: none; // By default the drawer is hidden: before any burger button clicks
      flex-direction: column;

      &.nav-drawer-is-open {
        display: flex;
        margin: 0 auto;
        background: $white-film;
        backdrop-filter: blur(5px);
      }
    }
  }

  .nav-menu-icons {
    display: none;
    justify-content: center;
    border-bottom: 1.5px solid $fifty-percent-gray;

    section {
      margin: 1rem 2rem;

      a {
        width: 32px;
        height: 32px;
        display: block;

        img {
          width: 32px;
          height: 32px;
          display: block;
          position: relative;
        }
      }
    }

    @media only screen and (max-width: 650px) {
      display: flex;
    }
  }
}