// Selector for .home-page
@mixin home-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
  
  .unbound-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;

    img {
      max-height: 56vw;
    }
  }

  .unbound-announcement {
    margin-left: 1rem;
  }

  .unbound-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-height: 40vw;
    }
  }

  .unbound-description {
    margin-bottom: 1rem;
  }

  .lunar-calendar-available {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    img {
      max-height: 30vw;
    }
  }

  .available-text {
    margin-left: 1rem;
  }

  @media only screen and (max-width: 650px) {
    .unbound-top {
      flex-direction: column;
      justify-content: center;
    }

    .unbound-announcement {
      margin-left: unset;
      margin-top: 1rem;
    }

    .lunar-calendar-available {
      flex-direction: column;
    }

    .available-text {
      margin-left: unset;
    }
  }
}