// Selector for .home-page
@mixin home-content {
  margin-bottom: 2rem;
  
  .content-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 $page-gutter;

    .image-link {
      max-height: 56vw;
      border: 1px solid $thirty-percent-gray;
    }

    img {
      display: block;
      max-height: 56vw;
      border: 1px solid $black;
    }
  }
  
  .announcement {
    margin-left: 2rem;

    .sig {
      margin-right: 1rem;
      text-align: right;
    }
  }

  .drawings-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .drawings-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6vw;
    margin: 4rem 0 3rem;
    background-color: $huetown-blue;
    text-align: center;
  }

  .drawings-title {
    text-transform: uppercase;
    font-size: 3rem;
    color: $white;
    letter-spacing: 0.3125rem;
  }

  .drawings-description {
    margin: 0 $page-gutter 3rem;
  }

  .drawing-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .drawing-image {
    margin-right: 2rem;

    img {
      display: block;
      max-height: 500px;
      border: 1px solid $thirty-percent-gray;
    }
  }

  .drawing-info {
    width: 260px;

    .item-info-text [class^="item-name"] {
      font-size: 3rem;
      font-weight: 700;
      color: $huetown-blue;
    }
  }

  // Compare to item page
  .payment-info {
    display: flex;
    flex-direction: column;
  }

  .item-price-container {
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 600;
  }

  form {

    input[value="add to cart"] {
      @include item-page-button-styles;

      width: 16rem;
      min-height: 4rem;
      
      &:hover {
        background: $orange-muted;
      }
    }
  }

  .lunar-calendar-available {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

    img {
      max-height: 30vw;
      margin-bottom: 1rem;
    }
  }

  ///* MEDIA QUERIES *///

  @media only screen and (max-width: 850px) {

    .drawing-info {
      width: 200px;
    }
  }

  @media only screen and (max-width: 750px) {

    .drawing-image {

      img {
        max-height: 60vw;
      }
    }

    .drawing-info {
      width: auto;
    }
  }

  ///* MEDIA QUERIES *///

  @media only screen and (max-width: 650px) {
    .content-top {
      flex-direction: column;
      justify-content: center;
    }
    
    .announcement {
      margin-left: 0;
      margin-top: 1rem;
    }

    .drawings-title-container {
      padding: 4vw;
      margin: 3rem 0 2rem;
    }
  
    .drawings-title {
      font-size: 2rem;
    }

    .drawing-item {
      flex-direction: column;
    }

    .drawing-image {
      margin-right: 0;
  
      img {
        max-height: 80vw;
      }
    }

    .drawing-info {
      width: auto;
    }
    
    .payment-info {
      flex-direction: row;
      justify-content: flex-start;
      margin-top: .5rem;
    }

    .item-price-container {
      margin: .5rem 1rem .5rem 0;
    }

    .lunar-calendar-available {
      margin-top: 2rem;
    }
  }
}