// Selector for .home-page
@mixin home-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
  
  .content-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;

    .image-link {
      max-height: 56vw;
      border: 1px solid black;
    }

    img {
      display: block;
      max-height: 56vw;
    }
  }

  .announcement {
    margin-left: 1rem;

    .sig {
      margin-right: 1rem;
      text-align: right;
    }
  }

  .unbound-bottom {
    display: flex;
    align-items: center;

    .unbound-description {
      margin: 0 1rem 1rem 0;
    }

    .foldem-funnies {
      text-align: center;
    }

    img {
      display: block;
      height: 250px;
      margin-bottom: .5rem;
    }
  }

  .drawings-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .drawings-title {
    margin: 2rem 0 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;;
  }

  .drawing-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .drawing-image {
    margin-right: 1rem;

    img {
      // max-height: 500px;
      max-height: 200px;
      border: 1px solid $black;
    }
  }

  .drawing-info {

    .item-name {
      font-size: 2rem;
      font-weight: 700;
    }

  }

  // Compare to item page
  .payment-info {
    display: flex;
    flex-direction: column;
  }

  .item-price-container {
    position: relative;
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 600;
  }

  form {

    input[value="add to cart"] {
      @include item-page-button-styles;

      width: 16rem;
      min-height: 4rem;
      
      &:hover {
        background: $orange-muted;
      }
    }
  }

  .lunar-calendar-available {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    img {
      max-height: 30vw;
    }
  }

  .available-text {
    margin-left: 1rem;
  }

  ///* MEDIA QUERIES *///

  @media only screen and (max-width: 650px) {
    .content-top {
      flex-direction: column;
      justify-content: center;
    }

    .announcement {
      margin-left: unset;
      margin-top: 1rem;

    }

    .unbound-bottom {    
      flex-direction: column;
  
      .unbound-description {
        margin: 0 0 1rem 0;
      }

      img {
        max-height: 40vw;
      }
    }

    .drawing-item {
      flex-direction: column;
    }

    .drawing-image {
      margin-right: unset;
  
      img {
        max-height: 40vw;
      }
    }

    .lunar-calendar-available {
      flex-direction: column;
    }

    .available-text {
      margin-left: unset;
    }
  }
}