/* Sub-mixins need to be outside the primary mixin */

@mixin crisp-scaled-down {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

/* Selector for .item-page */
@mixin item-page-content {
  width: $page-width;
  margin-bottom: 20px;

  .note {
    font-weight: 700;
  }

  .orca-lumina {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    img {
      width: 300px;
      height: 300px;
    }

    span:first-of-type {
      font-style: italic;
    }
  }

  .content-container {
    display: flex;

    &.lunar-calendar {
      @media only screen and (max-width: 1050px) {
        flex-direction: column;
        align-items: center;
      }

      .feature-image {
        width: 700px;
        height: auto;

        @media only screen and (max-width: 768px) {
          width: 520px;
        }

        @media only screen and (max-width: 576px) {
          width: 300px;
        }
      }
    }

    // &:not(.lunar-calendar) {
    //   .feature-image-link {
    //     pointer-events: none;
    //   }
    // }

    &.print,
    &.postcard {
      justify-content: center;
    }

    @media only screen and (max-width: 850px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .container-2 {
    display: none;
    border-top: 1px solid $eighty-percent-gray;
    margin-top: 20px;

    &.shown {
      display: block;
    }

    .photo-pair {
      display: flex;
      justify-content: center;

      img {
        margin: 10px 5px 0;
        width: 450px;
        height: 450px;

        @media only screen and (max-width: 1050px) {
          width: 700px;
          height: 700px;
        }

        @media only screen and (max-width: 760px) {
          width: 90vw;
          height: 90vw;
        }
      }

      @media only screen and (max-width: 1050px) {
        flex-direction: column;
        align-items: center;
      }
    }

    .item-more-info {
      padding-top: 15px;

      .info-block:not(:first-of-type) {
        margin: 15px auto 0;
      }

      .lunar-phases {
        display: flex;
        justify-content: center;
        width: 250px;
        margin: 25px auto;
      }

      [class^="phase-info"] {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5px;
      }

      [class^="phase-text"] {
        font-size: 1.2rem;
        text-align: center;
        text-transform: capitalize;
      }

      .protective-tube {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px auto 35px;

        .tube-text {
          margin-bottom: 5px;
        }

        @media only screen and (max-width: 500px) {

          img {
            width: 220px;
            height: auto;
          }
        }
      }
    }
  }

  .container-3 {
    display: none;

    a.available-calendar {
      max-width: 200px;

      img {
        max-width: 200px;
      }
    }

    &.shown {
      display: block;
    }

    .available,
    .previous {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      &.previous {
        margin-top: 10px;
      }

      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;

        &.title {
          margin: 0 auto 10px;
          text-transform: uppercase;
          color: $fifty-percent-gray;
          font-weight: 700;
        }

        &[class^="lunar-calendar-links"] {

          div {
            flex-direction: column;
            margin: 0 5px;

            .text {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  img.feature-image {
    @include crisp-scaled-down;

    &.postcard {

      border: 1px solid $sixty-percent-gray;

      @media only screen and (max-width: 650px) {
        width: 550px;
      }

      @media only screen and (max-width: 600px) {
        width: 90vw;
      }
    }

    &.print {
      @media only screen and (max-width: 500px) {
        width: 80vw;
      }
    }
  }

  .item-info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;

    &.lunar-calendar {

      @media only screen and (max-width: 1050px) {
        max-width: 600px;
        flex-direction: column-reverse;
        padding-left: 0;
        // flex-direction: column; // OPTIONAL SETTING
      }
    }

    @media only screen and (max-width: 850px) {
      max-width: 600px;
      flex-direction: column-reverse;
      padding-left: 0;
      // flex-direction: column; // OPTIONAL SETTING
    }

    &.postcard {

      @media only screen and (max-width: 650px) {
        width: 550px;
      }

      @media only screen and (max-width: 600px) {
        width: 90vw;
      }
    }
  }

  .item-preorder {
    display: none;

    &.visible {
      display: block;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  .item-name {
    font-size: 2rem;
    font-weight: 700;
    margin-right: 5px;

    span.normal {
      font-weight: 400;
    }
  }

  .item-subname {
    font-size: 2rem;
  }

  .item-info-1,
  .item-info-2,
  .item-info-3,
  .item-info-4 {
    margin: 10px 0 12px;
    font-size: 1.3rem;

    @media only screen and (max-width: 850px) {
      margin: 5px 0;
    }
  }

  .item-info-text {
    @media only screen and (max-width: 850px) {
      margin: 5px 0 0 5px;
    }
  }

  .payment-info {
    display: flex;
    flex-direction: column;

    &.lunar-calendar {

      @media only screen and (max-width: 1050px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 5px 0;
      }
    }

    @media only screen and (max-width: 850px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 5px 0;
    }

    @media only screen and (max-width: 650px) {
      // justify-content: left; // OPTIONAL SETTING
    }
  }

  .item-price-container {
    position: relative;
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 600;

    &.lunar-calendar {
      @media only screen and (max-width: 1050px) {
        margin: 0 10px 0 0 ;
        top: 6px;
      }
    }

    @media only screen and (max-width: 850px) {
      margin: 0 10px 0 0 ;
      top: 6px;
    }
  }

  .qty-label {
    font-size: 1.2rem; 
    font-weight: 600;
    color: $eighty-percent-gray;

    span {
      position: relative;
      left: 8px;
    }
  }

  .additional-info {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    align-items: flex-start;

    input[name="quantity"] {
      width: 4rem;
      height: 3.8rem;
      padding: 0;
      border: .1rem solid $fifty-percent-gray;
      margin: 0 8px 5px 0;
      font-size: 1.25rem;
      text-align: center;
    }

    input[value="add to cart"] {
      width: 16rem;
      min-height: 4rem;
      border: none;
      border-radius: 6px;
      background: $sixty-percent-gray;
      color: $white;
      font-family: 'Raleway', sans-serif;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 0.3125rem;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background: $orange-muted;
      }
    }
  }
}